{% extends 'layout.html.twig' %}

{% block content %}
	<div class="container mt-5">
		<div class="row justify-content-center text-center">
			<div class="col-xs-4">
				<img class="quizz-pic" src="/assets/images/{{categories.image}}" alt="image de la {{categories.name}}">
            </div>
		</div>
	</div>

<div class="h-75 d-flex flex-column justify-content-evenly align-items-center mt-1">
    <h1 class="h1-category">
        Catégorie
        {{categories.name}}
    </h1>
    <h2 class="text-center invisible" id="count-down-timer"></h2>
    <button class="btn-lancer col-6 col-md-3 mt-1" name="start">Lancer la partie</button>


</div>
{% endblock %}
{% block javascript %}<script src="/assets/js/script.js"></script>{% endblock %}


