{% extends 'layout.html.twig' %}

{% block content %}

<div class="h-75 d-flex flex-column justify-content-evenly align-items-center mt-1">
    <h1 class="h1-category">
        Catégorie
        {{categories.name}}
    </h1>

<<<<<<< HEAD
    <a href="/quizzProgress" class="btn-lancer text-center col-6 col-md-3 mt-1 " >Lancer la partie</a>
</div>
=======
		Catégorie
		{{categories.name}}

	</h1>

	<div class="answer-center category">

		<h2 class="col-12 mx-auto my-1" style='width:fit-content;'>Devine le titre du morceau :</h2>
		{{track.name}}
		<form action="" method="POST">
			<label for="proposal"></label>
			<input id="proposal" name="proposal" type="text" placeholder="votre réponse">
			<div class="button-flex">
				<input class="button-valid" type="submit" value="Valider">
				<a class="pass" href="/game/track&id={{ track.id }}">Passer</a>
			</div>
		</form>


	</div>
>>>>>>> 14d35a24e4cec806ba75bcdbbe11dde1c4d7fa8a
{% endblock %}


