{% extends 'layout.html.twig' %}

{% block content %}

<div class="h-75 d-flex flex-column justify-content-evenly align-items-center mt-1">
    <h1 class="h1-category">
        Catégorie
        {{categories.name}}
    </h1>

    <a href="/quizzProgress" class="btn-lancer text-center col-6 col-md-3 mt-1 " >Lancer la partie</a>
</div>
{% endblock %}


