{% extends 'layout.html.twig' %}

{% block content %}
	<div class="container mt-5">
		<div class="row justify-content-center text-center">
			<div class="col-xs-4">
				<img class="quizz-pic" src="/assets/images/{{categories.image}}" alt="image de la {{categories.name}}">
			</div>
		</div>
	</div>

	<div class="h-75 d-flex flex-column justify-content-evenly align-items-center mt-1">
		<h1 class="h1-category">
			Catégorie
			{{categories.name}}
		</h1>
		<h2 class="h2-category">
			Choisi ton level et c'est parti!</h2>
		<h2 class="text-center invisible" id="count-down-timer"></h2>
		<button class="btn btn-tertiary easy col-6 col-md-3 mt-1" name="start" value="1">Easy</button>
		<button class="btn btn-tertiary hard col-6 col-md-3 mt-1" name="start" value="2">Hard</button>


	</div>
{% endblock %}
{% block javascript %}
	<script src="/assets/js/script.js"></script>
{% endblock %}
