{% extends "layout.html.twig" %}

{% block content %}
    <div class="h-75 mt-5 d-flex flex-column justify-content-evenly align-items-center">

        {% for track in tracks|slice(0,1) %}
            <audio src="/uploads/tracks/{{track.path}}" class="audio" autoplay></audio>
        {% endfor %}

        <form action="" method="POST" id="form-quiz" class="container-fluid d-flex flex-column justify-content-evenly align-items-center h-50 mt-5">
            <h2 class="mt-5">Devine le titre du morceau :</h2>
            {{track.name}}

            <label for="proposal "></label>
            <input class="proposal col-12 col-sm-8 " id="proposal" name="proposal" type="text" placeholder="votre réponse">

            <button class="button-valid col-6 col-sm-3 mt-5 mb-5" type="submit" name="validate">Valider</button>
            <button class="button-valid col-6 col-sm-3" type="submit" name="pass">Passer</button>
        </form>
    </div>
{% endblock %}

