{% extends "layout.html.twig" %}

{% block content %}
    <div class="h-75 d-flex flex-column justify-content-evenly align-items-center">
        <audio src="/uploads/tracks/24kGoldn-Mood_ft_iann_dior.mp3" class="audio"></audio>
        <h2 class="rebours text-center" id="count-down-timer"></h2>

        <form action="" method="POST" id="form-quiz" class="invisible container-fluid d-flex flex-column justify-content-evenly align-items-center h-50">
            <h2 class="mt-5">Devine le titre du morceau :</h2>
            {{track.name}}

            <label for="proposal "></label>
            <input class="proposal col-12 col-sm-8 " id="proposal" name="proposal" type="text" placeholder="votre réponse">

            <button class=" button-valid col-6 col-sm-3 mt-5 mb-5" type="submit">Valider</button>
            <a class="pass col-6 col-sm-3 text-center" href="/game/track&id={{ track.id }}">Passer</a>
        </form>
    </div>
{% endblock %}
{% block javascript %}<script src="/assets/js/script.js"></script>{% endblock %}

