{% extends 'layout.html.twig' %}

{% block content %}
<div class="animation-modal show-modal d-none z-index-3 position-absolute col-12" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content clearfix">
            <button type="button" class="close" id="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">×</span></button>
            <div class="modal-body shadow ">
                <h3 class="title">Connecte-toi</h3>
                <div class="form-group">
                    <span class="input-icon"><i class="fa fa-user"></i></span>
                    <input type="email" class="form-control" placeholder="Ton adresse email*">
                </div>
                <div class="form-group">
                    <span class="input-icon"><i class="fas fa-key"></i></span>
                    <input type="password" class="form-control" placeholder="Ton mot de passe*">
                </div>
                <div class="forgot-pass d-flex justify-content-between">
                    <a href="">S'inscrire</a>
                    <a href="">Mot de passe oublié?</a>
                </div>
                <button class="btn">Connexion</button>
            </div>
        </div>
    </div>
</div>



<div class="index container d-flex flex-column justify-content-center align-items-center">
    <h1 class="text-center text-light mb-5 fs-1" id="h1">Participe au blind test<br>
        et tente de battre le record</h1>
    <div class="row">
        <div class="col-12 d-flex flex-column align-items-center">
            {% if user %}
            <p class="text-user-index">
                On est content de te revoir {{ user }}
            </p>
            {% endif %}
            <form action="/category" method="post">
                <div>

                    {% if user %}
                    {% else %}
                    <label for="lname"></label>
                    <input class="placehorder w-100" type="text" id="lname" name="user_id" placeholder="Ton pseudo*">
                    {% endif %}
                </div>

                <div class="mt-1">
                    {% if user %}
                    <a href="/category" class="btn mb-2 mb-md-0 btn-tertiary btn-block">LANCER !</a>
                    {% else %}
                    <button type="submit"
                        class="btn ms-0 mb-2 mb-md-0 btn-tertiary btn-block w-100">M'ENREGISTRER</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}
{% block javascript %}<script src="/assets/js/popup.js"></script>{% endblock %}
