{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container d-flex flex-column justify-content-center align-items-center h-75">
        <p class="text-center  text-light mb-5 fs-1">Participe au blind test<br>
        et tente de battre le record</p>
    </div>
{% endblock %}
