{% extends 'layout.html.twig' %}

{% block content %}
<div class="index container d-flex flex-column justify-content-center align-items-center">
    <h1 class="text-center text-light mb-5 fs-1">Participe au blind test<br>
        et tente de battre le record</h1>
    <div class="row">
        <div class="col-12 d-flex flex-column align-items-center">
            {% if user %}
            <p class="text-user-index">
                On est content de te revoir {{ user }}
            </p>
            {% endif %}
            <form action="/category" method="post">
                <div>

                    {% if user %}
                    {% else %}
                    <label for="lname"></label>
                    <input class="placehorder" type="text" id="lname" name="user_id" placeholder="Ton pseudo*">
                    {% endif %}
                </div>

                <div class="col-md-3 mt-1">
                    {% if user %}
                    <a href="/category" class="btn mb-2 mb-md-0 btn-tertiary btn-block">LANCER !</a>
                    {% else %}
                    <button type="submit" class="btn mb-2 mb-md-0 btn-tertiary btn-block">M'ENREGISTRER</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}
