{% extends 'layout.html.twig' %}

{% block content %}
	<h1 class="col-12 mx-auto my-5" style='width:fit-content;'>Devine le titre du morceau</h1>
	{{track.name}}

	<form action="" method="POST">
		<label for="proposal"></label>
		<input id="proposal" name="proposal" type="text" placeholder="votre réponse">
		<input class="button" type="submit" value="Valider">
	</form>
{% endblock %}
