{% extends 'layout.html.twig' %}

{% block content %}

    <h1>Track : {{ track.title }} by {{ track.artist }} </h1>
    <a href="/dashboard/update?id={{ track.id }}">Edit</a>
    <a href="/dashboard">Back</a>
    <audio src="/uploads/tracks/{{track.path}}" class="audio" controls></audio>
{% endblock %}
