{% extends 'layout.html.twig' %}

{% block content %}
    <h1> Track : {{ track.title }} by {{ track.artist }} </h1>
	<div class="container">
		<div class="row">
			<div class="col-12 form-dashboard">
				{% include 'Dashboard/_form.html.twig' with {
					'action': '/dashboard/update?id=' ~ track.id,
					'button': 'modifier'
					} %}

			</div>
		</div>
	</div>
    <a href="/dashboard">Back</a>
{% endblock %}
