/* SECTION TABLE */

.text-dashboard {
    margin-top: 2rem;
}

table {
    margin-top: 5rem;
}

.tr-form {
    margin-top: 3rem;
    text-align: center;
}

 .form-dashboard {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* SECTION MEDIA QUERIES : Champs formulaire */

@media screen and (max-width: 992px){
    .form-dashboard {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    select.btn-category {
        margin-left: 0;
    }

    .placehorder {
        margin-bottom: 5px;
    }

    .div-btn {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}


