.footer {
    display: flex;
    font-family: 'Anek Tamil', sans-serif;
}

.foot>p {
    padding: .4rem;
    font-size: clamp(0.625rem, 0.3486rem + 1.2019vw, 1rem);
    font-family: 'Anek Tamil', sans-serif;
    color: var(--bs-secondary-opacity);

}

.link-footer {
    text-decoration: none;
    color: var(--bs-secondary-opacity);
}

a:hover {
    color: #2FE6AE;
}
