h1 {
    font-family: 'Archivo Black', Helvetica, sans-serif;
    color: var(--bs-secondary);
    font-size: clamp(0.5rem, 1rem + 2vw, 3rem);
}

h2 {
    font-family: 'Anek Tamil', sans-serif;
    color: var(--bs-secondary);
}

.index {
    height: 75vh;
}
