  @import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

  h1.card-title {
      font-family: 'monoton', cursive;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 80%;
      text-align: center;
      font-size: clamp(1rem, 1.5577rem + 2vw, 3rem);
  }
