.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    font-family: 'Anek Tamil', sans-serif;
}

.top3 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #4B4168;
}

@media screen and (max-width: 570px) {
    .top3 {
        flex-direction: column;
    }

    .top3 .item.one {
        order: -1;
    }
}

.top3 .item {
    box-sizing: border-box;
    position: relative;
    background: var(--bs-secondary);
    width: 9rem;
    height: 10rem;
    text-align: center;
    padding: 2.8rem 0 0;
    margin: 1rem 1rem 2rem;
    border-radius: 0.5rem;
    transform-origin: bottom;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
    box-shadow: 0 0 4rem 0 rgba(0, 0, 0, 0.1), 0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);
}

.top3 .item .pic {
    position: absolute;
    top: -2rem;
    left: 2.5rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-right: 1rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2), 0 1rem 1rem -0.5rem rgba(0, 0, 0, 0.3);
}

.top3 .item .pos {
    font-weight: 900;
    font-size: 1.5rem;
}

.top3 .item .name {
    font-size: 1.1rem;
}

.top3 .item .score {
    opacity: 0.5;
}

.top3 .item .score:after {
    display: block;
    content: "points";
    opacity: 0.5;
}

.top3 .item.one {
    background-color: var(--bs-primary);
    width: 10rem;
    height: 11rem;
    padding-top: 3.5rem;
}

.top3 .item.one .pic {
    width: 5rem;
    height: 5rem;
    left: 2.5rem;
}

.top3 .item:hover {
    transform: scale(1.05);
}

.list {
    padding-left: 3rem;
    padding-right: 3rem;
    margin: 0 auto;
}

.list .item {
    position: relative;
    display: flex;
    align-items: center;
    height: 3rem;
    border-radius: 4rem;
    margin-bottom: 2rem;
    transform-origin: left;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
    box-shadow: 0 0 4rem 0 rgba(0, 0, 0, 0.1), 0 1rem 2rem -1rem rgba(0, 0, 0, 0.3);
}

.list .item:nth-child(2n) {
    background: var(--bs-primary);
    opacity: 0.5;

}

.list .item .pos {
    font-weight: 900;
    position: absolute;
    left: -2rem;
    text-align: center;
    font-size: 1.25rem;
    width: 1.5rem;
    color: var(--bs-secondary);
    opacity: 0.4;
    transition: opacity 200ms ease-in-out;
}

.list .item .pic {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-right: 1rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2), 0 1rem 1rem -0.5rem rgba(0, 0, 0, 0.3);
}

.list .item .name {
    flex-grow: 2;
    flex-basis: 10rem;
    font-size: 1.1rem;
}

.list .item .score {
    margin-right: 1.5rem;
    opacity: 0.5;
}

.list .item .score:after {
    margin-right: 1rem;
    content: "points";
    opacity: 0.5;
}

.list .item:hover {
    transform: scale(1.05);
}

.list .item:hover .pos {
    opacity: 0.8;
}
