@import './_navbar.css';
@import './_footer.css';
@import './_dashboard.css';
@import './_about_us.css';
@import './_quizz.css';
@import './_index.css';
@import './_login.css';


@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@100;400;700&family=Archivo+Black&family=Monoton&display=swap');

/* font-family: 'Anek Tamil', sans-serif;
font-family: 'Archivo Black', sans-serif;
font-family: 'Monoton', cursive; */

:root {
    --bs-gradient: url(https://cdn.discordapp.com/attachments/963093723124748368/964186826283839549/noise.png ), radial-gradient(ellipse at center, #5f9ece 0, #5f9ece 24%, #724589 100%);
    --bs-gradient-2: url(https://cdn.discordapp.com/attachments/963093723124748368/964186826283839549/noise.png ),  #5f9ece;
    --bs-primary: #2FE6AE;
    --bs-secondary: #FFFFF0;
}

body {
    /* background-image: url(../images/noise.png),radial-gradient(ellipse at center,#5f9ece 0,#5f9ece 24%,#724589 100%); */
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.row {
    margin: 0;
}

/* INDEX - BOUTTON FORM "M'ENREGISTRER" */

.btn.btn-tertiary {
    height: 38px;
    width: 12.4rem; /* J'ai augmenter la taille du boutton pour qu'il soit identiques aux champs */
    margin-left: 5px; /* Voir si c'est ok pour espacer le boutton des champs */
    color: #fff;
    background: #0C2044;
    border-color: #0C2044;
  }

  .btn.btn-tertiary:hover,
  .btn.btn-tertiary:focus {
    border-color: #2FE6AE !important;
    background: #2FE6AE !important;
  }

  .btn.btn-tertiary.btn-link {
    color: #2FE6AE;
    background: transparent;
  }

  .btn.btn-tertiary .icon i {
    color: #2FE6AE;
  }

  .placehorder {
    padding: 15px; /* J'ai agrandi le champs texte */
    color: #0C2044;
    height: 38px;
  }

