{% extends "layout.html.twig" %}

{% block content %}
    <div class="container d-flex flex-column justify-content-center align-items-center mt-sm-5">
        <div class="col-10 col-md-8 d-flex flex-column justify-content-center align-items-center text-center text-light fs-4">
            <p>Plus de 200 artistes et morceaux tous styles confondus dans chacune des quatre catégories constamment actualisées.</p>

            <p>Lors d’une manche, 10 chansons s’enchaînent. Le but est de découvrir les 10 artistes à l’origine des chansons le
                 plus rapidement possible, parmi 4 artistes proposés.</p>

            <p class="mb-5">Les points sont distribués en fonction du temps de réponse et du nombre de bonnes réponses :
                plus tu reconnais de chansons rapidement, plus tu gagnes de points.
                Il prend également en compte les combos : plusieurs bonnes réponses à la suite permettent d’obtenir des bonus.</p>

            <img src="../../../assets/images/photo-rock.jpeg" alt="..." class="us-img img-fluid shadow mt-sm-2">
        </div>
    </div>
{% endblock %}
