{# FOOTER #}

<footer class="mt-auto ">
	<div class="foot d-flex justify-content-center mt-5">
		<p>
			<a href="#">Aide</a>
		</p>
		<p>
			<a href="#">Confidentialité</a>
		</p>
		<p>
			Suivez nous sur
			<a href="https://twitter.com/">Twitter</a>
			et
			<a href="https://www.facebook.com/">Facebook</a>
		</p>

		<p>2022 © team dePhants</p>

	</div>
</footer>
