{# FOOTER #}

<footer class="mt-auto">
	<div class="d-flex justify-content-center">
		<p>
            <a href="#">Aide</a>
        </p>
        <p>
            <a href="#">Confidentialité</a>
        </p>
        <p>
            Suivez nous sur
            <a href="https://twitter.com/">Twitter</a>
             et
            <a href="https://www.facebook.com/">Facebook</a>
        </p>
        <div>
            <p>2022 © team Dephans</p>
        </div>
	</div>
</footer>

