{# LOGO + NAVBURGER #}

{# LOGO #}
<div class="container-fluid test">
    <div class="row">
        <div class="col-6">
            <a href="#" rel="Accueil">
                <img src="/assets/images/logo.png" class="img-fluid logo" /></a>
        </div>

        {# NAVBURGER #}
        <div class="row">
            <div class="col-6">
                <label>
                    <input type="checkbox">
                    <span class="menu"><span class="hamburger"></span> </span>
                    <ul>
                        {# voir pour le li active #}
                        <li class="active"> <a href="#">ACCUEIL</a> </li>
                        <li> <a class="bs-primary" href="#">A PROPOS</a> </li>
                        <li> <a href="#">CLASSEMENT</a> </li>
                        <li> <a href="#">TABLEAU DE BORD</a> </li>
                    </ul>
                    <span>
                    
                </label>
            </div>
        </div>
    </div>
</div>

